<div>
  <div class="container-sm">
    <div class="page-title"><h3>{{ isUpdate ? 'Task Bearbeiten' : 'Neue Task anlegen'}}</h3></div>
    <form [formGroup]="createTaskForm" (ngSubmit)="createTask()">
      <hr/>
      <div class="row">
        <div class="col-sm-6">Titel</div>
        <div class="col-sm-6">
          <label style="width: 100%">
            <input class="form-control" type="text" formControlName="title"
                   placeholder="Titel">
          </label>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-6">Beschreibung</div>
        <div class="col-sm-6">
          <label style="width: 100%">
            <textarea class="form-control" style="height: 200px" type="text" formControlName="description"
                      placeholder="Beschreibung"></textarea>
          </label>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-6">Datum</div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="input-group">
              <input class="form-control" placeholder="JJJJ-MM-TT"
                     name="dp" ngbDatepicker #d="ngbDatepicker" formControlName="date">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <button type="button" class="btn btn-info ml-auto mr-1" (click)="backToHome()">Zurück</button>
        <button type="submit" class="btn btn-primary">{{ isUpdate ? 'Updaten' : 'Erstellen'}}</button>
      </div>
    </form>
  </div>
</div>
